{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%  for block in section.blocks %} 
  <div style="background-color: {{ block.settigs.bg_color }}; color; {{ block.settings.text_color }} ;">
    {{ block.settings.text }}
  </div>
{% endfor %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings": [

  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "background color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "text color",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
